/**
 * Mobile Navigation
 */
.elementor-nav-menu--dropdown .menu-item-has-children{
	display: flex;
	flex-wrap: wrap;
}
.elementor-nav-menu--dropdown .menu-item-has-children > a{
	width: calc( 100% - 60px );
}
.elementor-nav-menu--dropdown .menu-item-has-children > a span{
	display: none;
}
.elementor-nav-menu--dropdown .submenu-toggle{
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: rgba(48, 37, 37, 0.2);
	width: 60px;
	height: 50px;
}
.elementor-nav-menu--dropdown .sub-menu{
	width: 100%;
}

/**
 * Toggle Widgets
 */
.elementor-widget-toggle details{
	border-bottom: 1px solid #d4d4d4;
}
.elementor-widget-toggle summary::before{
	content: "\f0da";
	margin-right: 0.6em;
	font-family: FontAwesome;
}
.elementor-widget-toggle summary{
	display: block;
	padding: 15px;
	font-weight: 700;
}
.elementor-widget-toggle details[open] summary::before{
	content: "\f0d8";
}
.elementor-widget-toggle .details-content{
	padding: 0 15px;
}
.elementor-widget-toggle summary::-webkit-details-marker {
  display: none;
}
.elementor-widget-toggle .details-content a{
	text-decoration: underline;
	color: #C64410;
}
